body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#fff;
  background-color: #009507;
}

a {
  color: #00B7FF;
}

#videoCanvas {
	width: 640px;
	height: 480px;
	background-color: #333;
}

#controls div{
	background-color:red;
	padding:10px;
	border: 1px solid black;
	margin:5px;
	text-align: center;
	width: 20px;
	cursor: pointer;
}