extends layout

block content
  h1= title
  canvas#videoCanvas
   p Please use a browser that supports the Canvas Element, like
   a(href='http://www.google.com/chrome') Chrome
  #controls
   #up up
   #down dn
  script(src='javascripts/jsmpg.js')
  script(src='javascripts/socket.js')
  script(src='javascripts/player.js')